/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 25/06/2020, 03:09:35 PM
    Author     : w7
*/
.btnSaveImage {
    -fx-border-color: rgb(230,123,47);
    -fx-border-width: 1px;
    -fx-border-style: solid;
    -fx-text-fill: #E67B2F;
}
